/.idea/
*.iml

back-bankaccount/src/main/resources/application-secret.properties
front-bankaccount/src/environments/environment.development.ts
front-bankaccount/src/environments/environment.ts
back-bankaccount/build.log
back-bankaccount/test_output.log
front-bankaccount/cypress-run.log
.env
