<h2 mat-dialog-title>{{ getTitle() }}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ constants.FORM_FIELD.LABEL }}</mat-label>
      <input 
        matInput 
        type="number" 
        [formControlName]="amountFieldName" 
        [min]="constants.FORM_FIELD.MIN_VALUE" 
        step="0.01"
        [placeholder]="constants.FORM_FIELD.PLACEHOLDER"
      />
      @if (form.get(amountFieldName)?.hasError('required')) {
        <mat-error>
          {{ constants.VALIDATION_ERRORS.AMOUNT_REQUIRED }}
        </mat-error>
      }
      @if (form.get(amountFieldName)?.hasError('min')) {
        <mat-error>
          {{ constants.VALIDATION_ERRORS.AMOUNT_MIN }}
        </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
  <button mat-button (click)="cancel()">{{ constants.BUTTONS.CANCEL }}</button>
  <button 
    mat-raised-button 
    color="primary" 
    (click)="submit()" 
    [disabled]="!form.valid"
  >
    {{ getButtonLabel() }}
  </button>
</mat-dialog-actions>
